# User Testing Report

User testing was conducted by Nick MacDougall on October 23rd between the times of 11:00 and 2:00 with the following participants:

- Arthur Daniel 
- Kevin MacDonald 
- Keir MacDougall 

## Tasks

1. Find an artcicle page 
2. Find home page from article page 
3. View second article page 

---

## Individual Results & Observations

### Arthur Daniel

- He clicked on the link as expected
- There were no problems completing the task 

### Keir MacDougall 

- He clicked on the link as expected
- He asked how to get back to the home page 
- There were very few problems completing the task 


### Kevin MacDonald 

- He clicked on the link as expected
- There were no problems completing the task  

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- One participant had trouble getting back to the home page. 

### Serious, Causes Frustration, May Hinder Completion

- All of the participants succeeded in completing the tasks. Only one participant had a minor question. 

### Minor, Annoying, Won’t Hinder Completion

- Participants said the website was simple and easy to use. 