@charset "UTF-8";
/* CSS Document */

body
{
background-color:#059D9B;
}

.title { 
	text-align: center;
	font-size:50px;
	margin: auto;
	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
}