@charset "UTF-8";
/* CSS Document */

html {
	margin:0;
	padding: 0;
	font: normal 100%/1.4 georgia,serif;
	font-size: 13px;
	background-color: #e2e2e2;
}

body {
	margin: 0;
	padding:0;
}

img{
	
	width: 100%;
}

.grid {
	overflow:hidden;
}

.unit { 
	float: left;
	width: 33.333333%;
	background-color: #fff;
}

.unit-2-3{
	width: 66.66667%;
}

.unit-spacer {
	padding: 1em;
}

@media only screen and (min-width: 38em) and (max-width: 60em) {
	
	.unit-m-1 {
		float:none;
		width:100%;
	}
	
	.unit-m-1-2 {
		width: 50%;
	}
}


@media only screen and (min-width: 60em) {
	
}