@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


.flex-img {
	display: block;
	max-width: 100%;
}


 html {
	 font-family:Georgia, "Times New Roman", Times, serif;
	 font-size: 11px;
 }
 
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.article {
	list-style-type: none;
	color: #009E9B;
	text-decoration: none;
	
	font-size:14px;
	
	border-bottom: solid 1px;

}


body {
	margin: 0;
	padding: 0;
	background-color: #fff;

	font-family: 'Nunito', sans-serif;
}

h1 {
	background-color: #DDD;
	color: #009E9B;
}


.logo {
	float: left;
	height: 60px;
	margin: 0 10px 0;
	padding: 0;
	width: 80px;

	background: transparent url("../img/logo.svg") no-repeat left top;
	background-size: 80px auto;

	font-size: 1.5em;
	line-height: 1.5;
	text-indent: 100%;
	white-space: nowrap;
}



.masthead {
	
	overflow: hidden;
	background-color: #009E9B;
	
}

.masthead-top {
	overflow: hidden;
	position: relative;
	
}

.articles {
	display:none;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	bottom: 17px;
	height: 35px;
	overflow: hidden;
	position: absolute;
	right: 1px;
	width: 46px;

	background: transparent url("../img/nav-button.svg") no-repeat 0 0;
	border: 0;

	text-indent: 100%;
	white-space: nowrap;
}


.nav-btn[data-state="active"] {
	bottom: 17px;
	height: 35px;
	overflow: hidden;
	position: absolute;
	right: 1px;
	width: 46px;

	background: transparent url("../img/nav-button-exit.svg") no-repeat 0 0;
	border: 0;

	text-indent: 100%;
	white-space: nowrap;
}

.nav {
	background-color: #fff;
}


.nav > ul {
	margin: 0;
	text-align: left;
	padding: 0em 0 0 0;
	

	list-style-type: none;
	font-size: 0.9em;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: 0.9em 10px;

	
	color: #000;
	
	text-decoration: none;
	border-bottom: 0px solid; opacity: 0.9;
	border-bottom-color: #555;
	
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #009E9B;

	color: #444;
}

.nav-bottom {
	margin-top: 1.5em;
}

.nav-top {
	max-height: 0;

	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}


.nav-top[data-state="expanded"] {
	max-height: 14em;
}

div {
	display: block;
}

.paragraph {
	color: #555;
	padding: 10px 0px 15px 0px;
}

.title {
	color:#444;
}


.article-image {
	padding: 8px;
}

.mobile-header {
	padding: 8px;
	margin: 0px;

    border-bottom: 1px solid #888;
}

@media only screen and (min-width: 38em) {
	
	.nav {
			float: right;
		    background: none;
	}

	.nav li {
		display: inline-block;
		float: none;
		margin: 0 0.5rem;
		width: auto;
	
		
	}

	.nav-btn {
		display: none;
	}

	.nav-top {
		max-height: 5rem;
	}
	
	
	.mobile-header {
	text-align:left;
	padding: 8px;
}
	

}