<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet">


<!--Facebook-->
<meta property="og:type" content"article">
<meta property="og:title" content"Fixd Home">
<meta property="og:url" content"http://nickmcd.github.io/large-data-website/">
<meta property="og:image" content"img/bike-2.jpg">
<meta property="og:description" content"Fixd oontains everything you need to know about Fixed-gear bicycles in one place">
<meta property="og:site_name" content"Fixd">

<!--Twitter-->
<meta property="twitter:card" content"summary">
<meta property="twitter:title" content"Fixd Home">
<meta property="twitter:url" content"http://nickmcd.github.io/large-data-website/">
<meta property="twitter:image" content"img/bike-2.jpg">
<meta property="twitter:description" content"Fixd oontains everything you need to know about Fixed-gear bicycles in one place">

<title>Fixd Home</title>
</head>

   <script src="js/modernizr.js"></script>

<body id="top">
	<header class="masthead clearfix">
		<div class="masthead-top">
			<h1 class="logo-wrapper"><a href="index.html" class="logo">Fixd</a></h1>
			<a href="#nav" class="nav-btn" data-state="inactive">Navigate</a>
		</div>
		<nav class="nav nav-top" data-state="collapsed">
			<ul>
				<li><a href="{{site.baseurl}}/index.html">Home</a></li>
				<li><a href="{{site.baseurl}}/article-1.html">Article One</a></li>
				<li><a href="{{site.baseurl}}/article-2.html">Article Two</a></li>
			</ul>
		</nav>
        
</header>

{{content}}

<nav class="nav" data-state="collapsed">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="article-1.html">Article One</a></li>
				<li><a href="article-2.html">Article Two</a></li>
			</ul>
		</nav>
		  
   <script src="js/general.js"></script>	
</body>